body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/images/login.jpg') no-repeat center center fixed; /* Chemin vers l'image de fond */
    background-size: cover;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-form {
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  .form-group input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
  }
  
  .error {
    color: #a94442;
    font-size: 0.9em;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #d9534f;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #c9302c;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 0.9em;
  }
  
  .signup-link a {
    color: #5cb85c;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .signup-link a:hover {
    color: #4cae4c;
  }
  