<div class="equipment-section">
    <h2>Our Equipments</h2>
    <div class="equipment-cards">
      <div class="equipment-card">
        <img src="/assets/images/equipement1.png" alt="Equipment 1">
        <h3>Treadmill</h3>
        <p>High-quality treadmills for effective cardio workouts.</p>
      </div>
      <div class="equipment-card">
        <img src="/assets/images/equipement2.jpg" alt="Equipment 2">
        <h3>Dumbbells</h3>
        <p>Wide range of dumbbells for strength training.</p>
      </div>
      <div class="equipment-card">
        <img src="/assets/images/equipement3.jpg" alt="Equipment 3">
        <h3>Stationary Bike</h3>
        <p>Advanced bikes for intense cycling sessions.</p>
      </div>
      <div class="equipment-card">
        <img src="/assets/images/equipement4.jpg" alt="Equipment 3">
        <h3>Stationary Bike</h3>
        <p>Advanced bikes for intense cycling sessions.</p>
      </div>
      <!-- Ajoutez plus de cartes d'équipement selon vos besoins -->
    </div>
  </div>
  