<div class="welcome-container">
    <div class="background-image">
      <div class="overlay">
        <img src="/assets/images/logo.png" alt="California Gym Logo" class="logo">
        <h1 class="title">Bienvenue à FitLife Gym</h1>
        <p class="subtitle">
          Enjoy the Difference with FitLife Gym, l'enseigne de club de fitness de plus de 20 ans d'expérience en Tunisie .
        <div class="dropdown">
          <select class="country-select">
            <option value="" disabled selected>Choisir un gouvernorat</option>
            <option value="tunisie">Ariana</option>
            <option value="algerie">Kef</option>
          </select>
        </div>
        
      </div>
    </div>
  </div>
  