/* Style pour le conteneur de bienvenue */
.welcome-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  /* Style pour l'image de fond */
  .background-image {
    background-image: url('/assets/images/welcome-back.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    filter: brightness(0.7);
  }
  
  /* Style pour l'overlay */
  .overlay {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  /* Style pour le logo */
  .logo {
    width: 150px;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
  }
  
  /* Style pour le titre */
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
  }
  
  /* Style pour le sous-titre */
  .subtitle {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 3s ease-in-out;
  }
  
  /* Style pour la sélection de pays */
  .country-select {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-in-out;
  }
  
 
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  