<app-header></app-header>
<div class="home-container">
  <!-- Section héroïque avec le carrousel Swiper -->
  <section class="hero">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/images/althere.jpg" alt="Image 1">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/machine.jpg" alt="Image 2">
        </div>
        <div class="swiper-slide">
          <img src="/assets/images/tapis.jpg" alt="Image 3">
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="hero-text">
      <h1>Welcome to FitLife</h1>
      <p>Your fitness journey starts here.</p>
    </div>
  </section>

  <!-- Section des services -->
  <section id="services" class="services">
    <h2>Our Services</h2>
    <div class="service-cards">
      <div class="service-card">
        <h3>Personal Training</h3>
        <p>Get personalized training from our expert trainers.</p>
      </div>
      <div class="service-card">
        <h3>Group Classes</h3>
        <p>Join our group classes and stay motivated.</p>
      </div>
      <div class="service-card">
        <h3>Nutrition Plans</h3>
        <p>Receive custom nutrition plans to fit your goals.</p>
      </div>
    </div>
  </section>
  <app-equipment></app-equipment>
  <app-offre></app-offre>


  <!-- Section de pied de page -->
  <app-footer></app-footer>

</div>
