body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  width: 100%;
  overflow: hidden;
  padding-top: 80px; /* Espace pour le header fixe */
}

/* Styles pour le carrousel */
.swiper-container {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section héroïque */
.hero {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  max-width: 80%;
}

.hero-text h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p {
  font-size: 1.5em;
  margin: 20px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.cta-button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #ff4c4c;
  transform: translateY(-2px);
}

/* Section des services */
.services {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
}

/* Section des témoignages */
.testimonials {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.testimonials-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.testimonial-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
}

/* Section de pied de page */
.footer {
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
